<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/scripts/changePasswordMode.js"></script>

<div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" class="form-control 
        {{ if ne .NameFeedback "" }}
        is-invalid
        {{ end }}" value="{{ .NameValue }}" />
    <div class="feedback">{{ .NameFeedback }}</div>
</div>
<div class="mb-3">
    <label>Login</label>
    <input type="text" name="login" class="form-control
        {{ if ne .LoginFeedback "" }}
        is-invalid
        {{ end }}" value="{{ .LoginValue }}" />
    <div class="feedback">{{ .LoginFeedback }}</div>
</div>
<div class="mb-3">
    <label>Password</label>
    <div class="input-group" id="show_hide_password">
        <input type="password" name="password" class="form-control
                {{ if ne .PasswordFeedback "" }}
                is-invalid
                {{ end }}" value="{{ .PasswordValue }}" />
        <span class="input-group-text eye-slash">
            <a href=""><img src="/static/resources/images/eye-slash.svg" alt="eye-slash"></a>
        </span>
    </div>
    <div class="feedback">{{ .PasswordFeedback }}</div>
</div>
<div class="mb-4">
    <label">Repeat password</label>
        <div class="input-group" id="show_hide_repeat_password">
            <input type="password" name="repeat_password" class="form-control
                    {{ if ne .RepeatPasswordFeedback "" }}
                    is-invalid
                    {{ end }}" value="{{ .RepeatPasswordValue }}" />
            <span class="input-group-text eye-slash">
                <a href=""><img src="/static/resources/images/eye-slash.svg" alt="eye-slash"></a>
            </span>
        </div>
        <div class="feedback">{{ .RepeatPasswordFeedback }}</div>
</div>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-submit-input">Register</button>
</div>