body {
    overflow-y: scroll;
}

li {
    margin-right: 30px;
    font-weight: 600;
    font-size: 16px;
}

.input-area {
    height: 80vh;
}

.input-block {
    width: 33vw;
}

.page-header {
    height: 30px;
    margin: 20px 23px;
}

.list {
    width: 60vw;
    margin: 0px 23px 23px 23px;
}

.login-area {
    height: 100vh;
}

.feedback {
    height: 14px;
    color: rgb(255, 0, 0);
    font-size: 14px;
    font-style: italic;
}

.custom-shadow {
    box-shadow: 0px 0px 10px 10px rgb(37, 71, 159);
}

.eye-slash {
    background-color: #d0d1d3;
}